﻿<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("head", required: false)

    <title>@(ViewBag.Title ?? "MakeupStudio")</title>

    @RenderSection("styles", required: false)
</head>

<body class="@(ViewBag.BodyClass ?? "")">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>

</html>