﻿@{
    ViewBag.Title = "Новые заявки";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/orders/index")
}

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

<p style="font-size: 17px">
    <span id="help-text"></span>
</p>

<div id="ordersTable"></div>

<script id="table-template" type="x-tmpl-mustache">
   {{#hasOrders}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Дата заявки</th>
                <th>Имя клента</th>
                <th>Телефон клиента</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {{#orders}}
                <tr>
                    <td>{{toLocateDateTime}}</td>
                    <td>{{ClientName}}</td>
                    <td>{{ClientPhone}}</td>
                    <td>
                        <a href="/Orders/AppointMeeting?orderId={{Id}}" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>Принять</span>
                        </a>
                        <button class="btn btn-danger remove-order-btn" data-id="{{Id}}">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span>Удалить</span>
                        </button>
                    </td>
                </tr>
            {{/orders}}
        </tbody>
    </table>
    {{/hasOrders}}
</script>