﻿@model MakeupStudio.Models.Photos.PhotosIndexModel
@{
    ViewBag.Title = "Фотографии";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/photos/index")
}

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")    
</div>

<div class="panel panel-info" style="max-width: 500px">
    <div class="panel-heading ">
        <h2 class="panel-title">Аватарка</h2>
    </div>

    <div class="panel-body">
        <div class="form-group" style="padding-bottom: 0px; margin-bottom: 0px">
            <img src="@Model.AvatarUrl" class="img-rounded thumbnail" width="210">
            <a href="@Url.Action("EditAvatar", "Photos")" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span> Изменить
            </a>
        </div>
    </div>
</div>


<div class="panel panel-info" style="max-width: 500px">
    <div class="panel-heading ">
        <h2 class="panel-title">Фотографии</h2>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <a href="@Url.Action("AddPhoto", "Photos")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Загрузить
            </a>

            @if (Model.Photos.Length < 1)
            {
                <p class="control-label" style="margin-top: 15px">Добавьте фотографии с примерами своих работ.</p>
            }
        </div>

        <div class="row">
            @for (int i = 0; i < Model.Photos.Length; i++)
            {
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <img src="@Model.Photos[i].Url">
                        <div class="caption">
                            <button class="btn btn-danger btn-block remove-photo" type="button" data-id="@Model.Photos[i].Id">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span>Удалить</span>
                            </button>
                        </div>
                    </div>
                </div>

                //после каждой второй фотки нужен clearfix
                if (i != 0 && i % 2 == 1)
                {
                    <div class="clearfix"></div>
                }
            }
        </div>
    </div>
</div>