﻿@model MakeupStudio.Models.Account.LoginModel

@{
    ViewBag.Title = "MakeupStudio - вход панель управления";
    Layout = "~/Views/Layouts/BootstrapLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/bundles/styles/account/login")
}


<div class="container">
    @* Панель*@
    <div class="panel panel-info">
        <div class="panel-heading ">
            <h2 class="panel-title">MakeupStudio - вход</h2>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Partial/TempData.cshtml")

            <form class="form-signin" role="form" action="@Url.Action("Login", "Account")" method="POST">
                @Html.AntiForgeryToken()

                @*Email*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Email)">
                    <label class="control-label" for="Email">@Html.GetDisplayName(x => x.Email)</label>
                    <input id="Email" name="Email" class="form-control" placeholder="Введите Email" type="text" value="@Model.Email"/>
                    @if (Html.ModelHasErrors(x => x.Email))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Email)</p>
                    }
                </div>

                @*Password*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Password)">
                    <label class="control-label" for="Password">@Html.GetDisplayName(x => x.Password)</label>
                    <input id="Password" name="Password" class="form-control" placeholder="Введите пароль" type="password" value="@Model.Password"/>
                    @if (Html.ModelHasErrors(x => x.Password))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Password)</p>
                    }
                </div>

                <button class="btn btn-lg btn-success btn-block" type="submit">Войти</button>
                <a href="@Url.Action("Registration", "Account")" class="btn btn-lg btn-info btn-block" type="button">Зарегистрироваться</a>
            </form>
        </div>
    </div>
</div>