﻿@using MakeupStudio.Common.Constants

@if (TempData[KeysConstants.TempData.ERROR_MESSAGE] != null)
{
    <div class="alert alert-danger alert-dismissable" id="error-msg-container">
        <span id="error-msg">@TempData[KeysConstants.TempData.ERROR_MESSAGE]</span>
    </div>
}
else
{
    <div class="alert alert-danger alert-dismissable" id="error-msg-container" style="display: none">
        <span id="error-msg"></span>
    </div>
}

@if (TempData[KeysConstants.TempData.SUCCESS_MESSAGE] != null)
{
    <div class="alert alert-success alert-dismissable" id="success-msg-container">
        <span id="success-msg">@TempData[KeysConstants.TempData.SUCCESS_MESSAGE]</span>
    </div>
}
else
{
    <div class="alert alert-success alert-dismissable" id="success-msg-container" style="display: none">
        <span id="success-msg"></span>
    </div>
}
